#home-page {
  .test {
    font-size: 30px;
    color: #ccc;
  }
  .testImg {
    width: 100px;
    height: 50px;
  }
  .test-border {
    width: 100%;
    height: 1px;
    background-color: red;
    transform: scaleY(.5);
  }
}